<% if logged_in? %>
  <div class="row">
  	<aside class="col-md-4">
  		<section class="user_info">
  			<%= render 'shared/user_info' %>
  		</section>
      <section class="ststs">
        <%= render 'shared/stats' %>
      </section>
  		<section class="micropost_form">
  			<%= render 'shared/micropost_form' %>
  		</section>
  	</aside>
    <div class="col-md-8">
      <h3>我的发布</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
 <% else %>
	<div class="center jumbotron">
		<h1>运维专用</h1>
		<p>Welcome to 运维部</p>
		<p>运维专用网站，用于共享服务器信息、发布公告。</p>

		<%= link_to "现在注册", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

	<%= link_to image_tag("dog.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<% end %>