<% provide(:title, "Log in") %>
<h1>登录</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url: login_path) do |f| %>

		  <%= f.label :邮箱 %>
		  <%= f.email_field :email, class: 'form-control' %>

		  <%= f.label :密码 %>
		  <%= link_to "(忘记密码)", new_password_reset_path %>
		  <%= f.password_field :password, class: 'form-control' %>

		  <%= f.label :记住我, class: "checkbox inline" do %>
		  	<%= f.check_box :remember_me %>
		  	<span>在这台电脑上记住我</span>
		  <% end %>

		  <%= f.submit "登录", class: "btn btn-primary" %>
		<% end %>

		<p>新用户? <%= link_to "现在注册", signup_path %></p>	
	</div>
</div>