<% provide(:title, "忘记密码") %>
<h1>忘记密码</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>

		  <%= f.label :邮箱 %>
		  <%= f.email_field :email, class: 'form-control' %>

		  <%= f.submit "提交", class: "btn btn-primary" %>
		<% end %>	
	</div>
</div>
