<li>
	<%= gravatar_for user, size: 50 %>
	<%= link_to user.name, user %>
	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "删除用户", user, method: :delete,
									  data: { confirm: "确定要删除？" } %>
	<% end %>
</li>