<% provide(:title, "Edit user") %>
<h1>更新个人资料</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
		    <%= render 'shared/error_messages', object: f.object %>

		    <%= f.label :用户名 %>
		    <%= f.text_field :name, class: 'form-control' %>

			<%= f.label :邮箱 %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :密码 %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :确认密码 %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>

			<%= f.submit "保存更改", class: "btn btn-primary" %>
		<% end %>

		<div class="gravatar_edit">
			<%= gravatar_for @user %>
			<a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
		</div>
	</div>
</div>