<footer class="footer">
	<small>
		<a href="http://www.railstutorial.org/">神月运维专用</a>
		by <a href="http://www.michaelhartl.com/">ZeZe</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "关于", about_path %></li>
			<li><%= link_to "联系我们", contact_path %></li>
			<li><a href="https://www.shineyue.com/">新闻</a></li>
		</ul>
	</nav>
</footer>