<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "神月软件运维部", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "主页",  root_path %></li>
        <li><%= link_to "帮助",  help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "用户列表", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              账户 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "个人资料", current_user %></li>
              <li><%= link_to "设置", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "退出登录", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
         <li><%= link_to "登录",  login_path %></li>
        <% end %>
        <!-- <li><a href="#">Home</a></li> -->
      </ul>
    </nav>
</div>
</header>