<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!-- stylesheet_link_tag方法，传入两个参数：一个字符串，指明样式的路径;
     另一个是散列，包含两个元素，第一个指明媒介类型，第二个启用Turbolink功能 
<link data-turbolinks-track="true" href="/assets/application.css" media="all"
rel="stylesheet" />。 -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>